<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register</title> 
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
    
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <link href="/static/stylesheets/mycss/signin.css" rel="stylesheet">
</head>

<body>
	<div class="container">
      <form class="form-signin" role="form" action="/api/regist", method="post">
          <h2 class="form-signin-heading">注册信息</h2>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul class=flashes>
              {% for message in messages %}
              <li class="error">{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        <input type="text" class="form-control" name="id_card" placeholder="请输入身份证号" required autofocus>
        <input type="text" class="form-control" name="name" placeholder="请输入姓名" required>
        <input type="text" class="form-control" name="group_number" placeholder="请输入团号" required>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="请输入电话号码" required autofocus>
        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" required autofocus>
        <input type="password" class="form-control" id="password1" name="confirm_password" placeholder="请再次输入密码" required autofocus>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="register1">注册</button>
        <button type="button" class="btn btn-lg btn-primary btn-block" id="login1">登录</button>
      </form>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <script src="/static/javascripts/docs.min.js"></script>

    <script type="text/javascript">
$(document).ready(function() {
    $('#login1').on('click', function() {
        location.href="/user/login"
    })
    $('#register1').on('click', function() {
        password = $('#password').val()
        password1 = $('#password1').val()
        if (password != password1) {
            alert('两次输入不一致，请重新输入');
            return false
        }
    })
})
   	 //$(function(){ 
     //   $("#login1").click(function(){ 
     //       location.href = 'signin';
     //   });
     //   $("#register1").click(function(){ 
     //       var username = $("#username").val();
     //       var password = $("#password").val();
     //       var password1 = $("#password1").val();
     //       if(password !== password1){ 
     //           $("#password").css("border","1px solid red");
     //           $("#password1").css("border","1px solid red");
     //       }else if(password === password1){
     //       var data = {"u_name":username,"u_pwd":password};
     //       $.ajax({ 
     //           url: '/register',
     //           type: 'post',
     //           data: data,
     //           success: function(data,status){ 
     //               if(status == 'success'){ 
     //                   location.href = 'signin';
     //               }
     //           },
     //           error: function(data,err){ 
     //                   location.href = 'register.html';
     //           }
     //       }); 
     //   }
     //   });
   	 //});
    </script>

</body>
</html>
